
    
			    
    <!--<div class="content" >-->
    	
        
        <div class="sub-content">
            <div class="gap"></div>
       
        <img src="/image/pixel2.png">
        
        <div class="gap"></div>
           <div class="bu">
               <a href="/location"><button>ORDER</button></a>
		</div>
		</div>
        <!--<div class="gap"></div>-->
    <!--</div>-->
        				
    
    
